---
import { Github } from "@lucide/astro";
---

<footer
  class="relative mt-12 px-8 md:px-16 lg:px-16 xl:px-32 w-screen h-80 flex flex-col justify-center items-center border-t border-t-(--background-lighter)"
>
  <div class="flex gap-32">
    <div class="w-80 flex flex-col">
      <p class="text-xl font-semibold">Nexoscript</p>
      <br />
      <p>Experimental coding libraries and tries to test things.</p>
    </div>
    <div class="flex flex-col">
      <p class="text-xl font-semibold">Pages</p>
      <br />
      <a href="#about">About</a>
      <a href="#projects">Projects</a>
      <a href="#team">Team</a>
      <a href="#contact">Contact</a>
    </div>
    <div class="flex flex-col">
      <p class="text-xl font-semibold">Services</p>
      <br />
      <a href="https://repository.nexoscript.com" target="_blank">Repository</a>
      <!-- <a href="https://status.nexoscript.com" target="_blank">Uptime</a> -->
    </div>
    <div class="flex flex-col">
      <p class="text-xl font-semibold">Links</p>
      <br />
      <a href="https://github.com/Nexoscript" target="_blank">GitHub</a>
    </div>
    <div class="flex flex-col">
      <p class="text-xl font-semibold">Legal</p>
      <br />
      <a href="https://eztxm.de/imprint" target="_blank">Imprint</a>
    </div>
  </div>
  <p id="copyright" class="absolute bottom-0 py-2"></p>
</footer>

<script>
  const copyright = document.getElementById("copyright");
  if (copyright) {
    const year = new Date().getFullYear();
    copyright.innerHTML = `Nexoscript &copy; ${year === 2025 ? year : "2025-" + year} - All rights reserved`;
  }
</script>
