---
import { Github } from "@lucide/astro";
---

<footer
  class="mt-12 px-96 sm:px-8 md:px-16 lg:px-32 xl:px-64 w-screen h-80 flex justify-center items-center border-t border-t-(--background-lighter)"
>
  <div class="flex gap-32">
    <div class="w-80 flex flex-col">
      <p class="text-xl font-semibold">Nexoscript</p>
      <br />
      <p>Experimental coding libraries and tries to test things.</p>
    </div>
    <div class="flex flex-col">
      <p class="text-xl font-semibold">Pages</p>
      <br />
      <a href="#about">About</a>
      <a href="#projects">Projects</a>
      <a href="#team">Team</a>
      <a href="#contact">Contact</a>
    </div>
    <div class="flex flex-col">
      <p class="text-xl font-semibold">Services</p>
      <br />
      <a href="https://repo.nexoscript.com">Repository</a>
      <a href="https://status.nexoscript.com">Uptime</a>
    </div>
    <div class="flex flex-col">
      <p class="text-xl font-semibold">Links</p>
      <br />
      <a href="https://github.com/Nexoscript">GitHub</a>
    </div>
  </div>
</footer>
