<header
  class="px-96 sm:px-8 md:px-16 lg:px-32 xl:px-64 w-screen h-20 flex justify-center items-center border-b border-b-(--background-lighter)"
>
  <div class="flex-1 flex justify-start items-center gap-2">
    <img src="/logo.png" class="w-12 h-12" />
    <p class="text-4xl font-semibold">Nexoscript</p>
  </div>
  <div class="flex-1 flex justify-end items-center gap-2">
    <a
      href="#about"
      class="px-4 py-2 rounded-lg transition-filter duration-200 ease-in-out hover:bg-(--background) hover:brightness-250"
      >About</a
    >
    <a
      href="#projects"
      class="px-4 py-2 rounded-lg transition-filter duration-200 ease-in-out hover:bg-(--background) hover:brightness-250"
      >Projects</a
    >
    <a
      href="#team"
      class="px-4 py-2 rounded-lg transition-filter duration-200 ease-in-out hover:bg-(--background) hover:brightness-250"
      >Team</a
    >
    <a
      href="#contact"
      class="px-4 py-2 rounded-lg transition-filter duration-200 ease-in-out hover:bg-(--background) hover:brightness-250"
      >Contact</a
    >
    <input
      type="text"
      placeholder="Search..."
      disabled="true"
      class="px-4 py-2 border border-(--background-lighter) rounded-lg transition-filter duration-200 ease-in-out cursor-not-allowed"
    />
    <!-- hover:bg-(--background) hover:brightness-250 focus:outline-0 focus:bg-(--background) focus:brightness-250 -->
  </div>
</header>
