---
import Project from "../components/Project.astro";
---

<section id="projects" class="w-full flex flex-col">
  <p class="p-8 text-3xl font-semibold">Projects</p>
  <div class="flex flex-wrap gap-4">
    <Project
      name="nexonet"
      languages={["Java", "Go"]}
      description="Easy and modern networking library for Java to send packets from server to client and the other way."
      path="nexonet-java"
    />
    <Project
      name="nexoscript"
      languages={["C++"]}
      description="The try to make our own programming / script language for simpleness and functionality."
      path="nexoscript"
    />
    <Project
      name="kryobase"
      languages={["Java"]}
      description="Database that provides backend services like databases, authentication, hosting, and cloud functions to help build and scale apps quickly without managing servers."
      path="kryobase"
    />
    <Project
      name="nexoengine"
      languages={["Java"]}
      description="3D Game-Engine in Java with OpenGL."
      path="nexoengine"
    />
    <Project
      name="smoothcloud"
      languages={["Astro", "Ruby"]}
      description="Next gen self-host storage solution for everyone."
      path="smoothcloud"
    />
    <Project
      name="javaro"
      languages={["Java"]}
      description="Web-framework to create modern websites in Java"
      path="javaro"
    />
    <Project
      name="docker-server-manager"
      languages={["Java"]}
      description="Docker server manager for providing secure and almost always online minecraft server services."
      path="docker-server-manager"
    />
    <Project
      name="requests4j"
      languages={["Java"]}
      description="A library for requests."
      path="requests4j"
    />
  </div>
</section>
